importMethodsFrom(bioDist, cor.dist)
importFrom(graphics, barplot, boxplot, plot)
importFrom(grDevices, dev.off, pdf)
importFrom(limma, contrasts.fit, eBayes, lmFit, makeContrasts, topTable)
importFrom(methods, new, representation, setClass, slotNames)
importFrom(preprocessCore, normalize.quantiles)
importFrom(stats, C, hclust, lm, model.matrix, na.omit, p.adjust, t.test, wilcox.test)
importFrom(utils, read.delim)

exportClasses("exprmethy450", "methy450batch")
exportMethods("show")
export(IMA2.methy450PP, IMA2.methy450R, IMA2.sitetest)

